body {
    /*background-color:#003300;*/
    /*background-color:#ffff33;*/
    background-image: url("../img/me.gif");
    color:white;
    margin:0;
    padding:0;
}

header, main, nav, footer {
    text-align:center;
}

nav a { /*Links within nav container */
    padding:15px;
    padding-bottom:4px;
    font-size:1.8em;
    text-decoration:none; /*Removes underline */
    color:white; /*Link default to blue */
}

nav a:hover {
    border-bottom:2px orange solid;
    font-size:2em;
}

#me #welcome-text {
    float:left;
}

footer {
    clear:left;
    font-size:.65em;
    color:gray;
}

table {
    margin:0px auto;
}

td {
    padding-right:10px;
    font-size:1.3em;
}

td strong {
    color:orange;
}

#table-header {
    background-color:#351a00;
}

.table-row {
    background-color:#753900;
}

ul {
    display: inline-block;
    text-align:left;
}

.hobby {
    color:yellow;
}

h1 {
    font-family:'Pacifico', cursive;
    font-size:4em;
    margin-bottom:0px;
}

#google-form {
    text-align:center;
    /*margin:0px auto;*/
}