header, body, footer {
    text-align: center !important;
    background-color: black !important;
    color: white !important;
    font-family: 'Playfair Display' !important;
}

h1 {
    font-size: 100px !important;
    border-style: groove !important;
    border-color: #00004d !important;
    color: #800000 !important;
}

#D4, #D6, #D8, #D10, #D12, #D20 {
    width: 224px !important;
    height: 225px !important;
    background-color: black !important;
    background-repeat: no-repeat !important;
    border-color: #00004d !important;
}

#D4 {
    background-image: url('img/D4.png');
}

#D6 {
    background-image: url('img/D6.png');
}

#D8 {
    background-image: url('img/D8.png');
}

#D10 {
    background-image: url('img/D10.png');
}

#D12 {
    background-image: url('img/D12.png');
}

#D20 {
    background-image: url('img/D20.png');
}

#result {
    font-family: 'Playfair Display' !important;
    color: #800000 !important;
    font-size: 100px !important;
    border-style: dashed !important;
    border-color: #00004d !important;
}

#historyButton, #clearHistory {
    color: black !important;
}

footer {
    vertical-align: bottom !important;
    color: gray !important;
}